.webhook-item-date {
    font-size: small;
    font-weight: bold;
}

.webhook-item-http-version {
    font-size: x-small;
    color: aqua;
}

.webhook-item-method {
    font-size: small;
    background: grey;
    padding: 3px;
}

.webhook-item-method-post {
    font-size: small;
    background: cadetblue;
    padding: 3px;
}

.webhook-item-method-get {
    font-size: small;
    background: green;
    padding: 3px;
}

.webhook-item-method-put {
    font-size: small;
    background: violet;
    padding: 3px;
}

.webhook-item-method-delete {
    font-size: small;
    background: red;
    padding: 3px;
}

.request-syntax {
    font-size: 15px;
    margin-top: -20px;
}

.counter {
    font-size: 15px;
    font-weight: bold;
    display: inline-block;
    background-color: darkgray;
    color: black;
}

.selected-index {
    background-color: darkgray;
    color: black;
    font-size: 25px;
    font-weight: bolder;
    margin-top: 10px;
    display: inline-block;
    padding: 5px;
}